extends ./layout.pug

block header
  meta(author='Michael Coombes')

block content
  if !loggedIn
    include ./register.pug
  script.
    $('#showRegister').click(function(){
          $('#registrationForm').show();
    })
