extends ./layout.pug

block header
  meta(author='Michael Coombes')

block content
  if !loggedIn
    include ./register.pug
    include ./login.pug
  else if loggedIn
    include ./welcome.pug
  //- h2 Welcome #{user.firstName}!
  if !loggedIn
    script.
      $('#showRegister').click(function(){
            $('#registrationForm').slideDown();
            $('#loginForm').hide();
      })
      $('#showLogin').click(function(){
        $('#loginForm').slideDown();
        $('#registrationForm').hide();
      })
