extends ./layout.pug

block content
  div(style='text-align:center')
    h1 Under Construction
    img(src='http://vignette1.wikia.nocookie.net/overwatch/images/6/6a/Bastion_portrait.png/revision/latest?cb=20160429042023')
