div#registrationForm.col-md-6.col-md-offset-3(style='display:none;')
  .well.bs-component
    form.form-horizontal(action='/user/create', method='POST', encType='multipart/form-data')
      fieldset
        legend Register
        .form-group
          label.col-md-3.control-label(for='firstName') First Name
          div.col-md-9
            input.form-control(name='forename')
        .form-group
          label.col-md-3.control-label(for='surname') Last Name
          div.col-md-9
            input.form-control(name='surname')
        .form-group
          label.col-md-3.control-label(for='username') Username
          div.col-md-9
            input.form-control(name='username')
        .form-group
          label.col-md-3.control-label(for='email') Email
          div.col-md-9
            input.form-control(name='email')
        .form-group
          label.col-md-3.control-label(for='password') Password
          div.col-md-9
            input.form-control(name='password', type='password')
        .form-group
          label.col-md-3.control-label(for='pic') Profile Picture
          div.col-md-9
            input.form-control(name='pic', type='file')
            .input-group
              input.form-control(readonly, type='text', placeholder='choose file')
              span.input-group-btn.input-group-sm
                button.btn.btn-fab.btn-fab-mini(type='button')
                  i.material-icons attach_file
        .form-group
          .col-md-10
            button.btn.btn-warning(type='button') Cancel
            button.btn.btn-primary(type='submit') Submit
